<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Formulario</h3>
      <form #trabajadorForm="ngForm" (ngSubmit)="registrar(form)">
        <div class="example-container">
          <div class="contenedor">
            <input id="inputUser" name="uno" type="text" [(ngModel)]="User.nombre" placeholder="usuario" required />
          </div>
          <br>
          <div class="contenedor">
            <input id="inputUser" name="dos" type="text" [(ngModel)]="User.apellido" placeholder="apellido" required />
          </div>
          <br>
          <div class="contenedor">
            <input id="inputUser" name="tres" type="text" [(ngModel)]="User.docType" placeholder="tipo de doc"
              required />
          </div>
          <br>
          <div class="contenedor">
            <input id="inputUser" name="cuatro" type="text" [(ngModel)]="User.docIdent" placeholder="documento"
              required />
          </div>
          <br>
          <div class="contenedor">
            <input id="inputUser" name="cinco" type="text" [(ngModel)]="User.email" placeholder="email" required />
          </div>
          <br>
          <div class="contenedor">
            <input id="inputUser" name="seis" type="text" [(ngModel)]="User.celular" placeholder="celular" required />
          </div>
          <br>
          <div class="contenedor">
            <input id="inputUser" name="siete" type="date" [(ngModel)]="User.fechaNacimiento"
              placeholder="fecha nacimineto" required />
          </div>
        </div>
        <br>
        <button class="btn btn-sm" type="submit" value="Enviar"
          style="margin-right: 15px; background:#28a745; color:#fff;">Registrar</button>
      </form>
      <br>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <h3>Subir archivo</h3>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text upload" (click)="upload()" id="btnUpload">Upload</span>
        </div>
        <div class="custom-file">
          <form action="/api/upload" method="post" enctype="multipart/form-data">
            <input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01">
          </form>
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<router-outlet></router-outlet>